*,
    *:before,
    *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
 
    
    .loader_container {
        text-align: center;
        background: black;
        height: 100vh;
    }
    
    .loader_section {
        width: 30%;
        display: inline-block;
        text-align: center;
        min-height: 215px;
        vertical-align: top;
        margin: 1%;
        /* background: #080915; */
        /* border-radius: 5px; */
        /* box-shadow: 0px 0px 30px 1px #103136 inset;*/
  }

@media only screen and (max-width: 600px) {
  section {
    min-width: 350px;
  }
}
    
    .loader {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 220px;
        display: inline-block;
        vertical-align: middle;
    }
    
    .loader-star {
        position: absolute;
        top: calc(50% - 12px);
    }

    /*LOADER-6*/
    
    .loader-6 {
        border: 6px groove #7e57c2;
        transform: rotate(360deg);
        transition: all 1s ease;
        -webkit-animation: loader-1-inner 1s ease-out alternate infinite;
        animation: loader-1-inner 1s ease-out alternate infinite;
    }
    
    .loader-6 .loader-inner {
        border: 0px inset #9575cd;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        -webkit-animation: border-zoom 1s ease-out alternate infinite;
        animation: border-zoom 1s ease-out alternate infinite;
    }
 


    /* ----------------     KEYFRAMES    ----------------- */
    

    @-webkit-keyframes loader-1-inner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
    
    @keyframes loader-1-inner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }

    
    @-webkit-keyframes border-zoom {
        0% {
            border-width: 0px;
        }
        100% {
            border-width: 20px;
        }
    }
    
    @keyframes border-zoom {
        0% {
            border-width: 0px;
        }
        100% {
            border-width: 20px;
            /* border-width: 10px; */
        }
    }
    /*@-webkit-keyframes line-grow {
  0% {
    height: 0;
  }
  100% {
    height: 75%;
  }
}*/
    
 
