/* Navbar.css */

.navbar {
  width: 100%;
  padding: 1rem 2rem;
  background-color: none; /* Navbar background color */
  color: white;
  display: flex;
  justify-content: center; /* Center the navbar content horizontally */
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  margin-left: auto; /* Ensure the hamburger icon stays on the right */
}

.navbar-links {
  display: none; /* Hide links by default */
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust based on navbar height */
  right: 0;
  width: 100%;
  background-color: rgb(109, 47, 109); /* Match navbar background */
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  justify-content: center; /* Center the items vertically */
  align-items: center; /* Center the items horizontally */
  gap: 1.5rem; /* Add space between the items vertically */
}

.navbar-show {
  display: flex; /* Show links in a column when the menu is open */
}

.navbar-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0;
  font-size: 1.25rem; /* Slightly increase font size */
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: aqua; /* Change link color on hover */
}

/* No media queries for larger screens */
